<!DOCTYPE html>
<html>
<head>
<title>Chat App</title>
</head>

<body>

<h2>Chat App</h2>

<input id="username" placeholder="Your username">

<br><br>

<input id="receiver" placeholder="Receiver">

<br><br>

<input id="message" placeholder="Message">

<button onclick="send()">Send</button>

<hr>

<div id="chat"></div>


<script>

function send(){

fetch("/send",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

sender:username.value,

receiver:receiver.value,

message:message.value

})

})

}


function load(){

fetch(`/messages?user1=${username.value}&user2=${receiver.value}`)

.then(res=>res.json())

.then(data=>{

chat.innerHTML=""

data.forEach(msg=>{

chat.innerHTML+=`<p><b>${msg.sender}</b>: ${msg.message}</p>`

})

})

}

setInterval(load,1000)

</script>

</body>
</html>
