<!DOCTYPE html>
<html>
<head>
<title>Chat App</title>
</head>

<body>

<h2>Chat App</h2>

<input id="username" placeholder="Your username">
<br><br>

<input id="receiver" placeholder="Receiver username">
<br><br>

<input id="message" placeholder="Message">
<button onclick="send()">Send</button>

<hr>

<div id="chat"></div>


<script>

function send(){

fetch("/send",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

sender:document.getElementById("username").value,

receiver:document.getElementById("receiver").value,

message:document.getElementById("message").value

})

})

}


function load(){

let user1=document.getElementById("username").value

let user2=document.getElementById("receiver").value

fetch(`/messages?user1=${user1}&user2=${user2}`)

.then(res=>res.json())

.then(data=>{

let chat=""

data.forEach(msg=>{

chat+=`<p><b>${msg.sender}:</b> ${msg.message}</p>`

})

document.getElementById("chat").innerHTML=chat

})

}


setInterval(load,1000)

</script>


</body>
</html>
